
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <h2 class="text-center m-2 mb-4">First, let's talk about you !</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
      
      <div class="container">
        <div class="row d flex justify-content-center">
          <div class="form-inputs">
            <%= f.input :first_name,
                        required: true,
                        label: "What's your first name ?",
                        autofocus: true %>
            <%= f.input :last_name,
                        required: true,
                        label: "What's your last name ?",
                        autofocus: true %>
            <%= f.input :city,
                        required: true,
                        label: "Where do you live ?",
                        autofocus: true %>
        
            <p>What are you looking for on Pawome 🐾</p>
            <%= f.select :user_type, options_for_select(["I'm looking for someone to take care of my little buddies !", "I'd like to take care of little budies !"]) %>          
             <p> </p>
            <%= f.input :about,
                        required: true,
                        label: "Tell us a bit more about yourself !",
                        autofocus: true %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label: "What's your email address ?",
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
        </div>
          <div class="form-actions">
            <%= f.button :submit, "Wouf wouf" %>
          </div>
        <%end %>
        </div>
           
      <div class="m-4">     
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>


