<h1>Meet <%= @animal.name %> your future buddy</h1>
<section class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="col-12 mb-0">
          <% if @animal.photo.attached? %>
              <%= cl_image_tag @animal.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <img src="https://source.unsplash.com/500x400/?animals">
            <% end %>
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="table-responsive">
          <table class="table table-sm table-borderless mb-0">
            <tbody>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Description</strong></th>
                <td><%= @animal.description %></td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Animal</strong></th>
                <td><%= @animal.animal_type %></td>
              </tr>
<!--               <tr>
                <th class="pl-0 w-25" scope="row"><strong>Start Date</strong></th>
                <td><%= @animal.start_date %></td>
              </tr>
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>End Date</strong></th>
                <td><%= @animal.end_date %></td>
              </tr> -->
              <tr>
                <th class="pl-0 w-25" scope="row"><strong>Address</strong></th>
                <td><%= @animal.address %></td>
              </tr
>            </tbody>
        </table>
      </div>
      <%= link_to edit_animal_path(@animal.id), class: 'pull-right btn btn-default' do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to animal_path(@animal.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'pull-right btn btn-default' do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
      <%= link_to "Book your buddy", new_animal_booking_path(@animal), class: "btn btn-primary btn-lg" %>
        <i class="fas fa-plus"></i><%= link_to "Back to home page", root_path %>
      </div>
    </div>
  </div>
</section>
