<div class="container">
  <div class="row justify-content-center">
      <h2 class ="mt-4">All the info you need in one place 🦌</h2>
  </div>

  <div class="row justify-content-center">
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="/dashboard" class="tab-underlined">Your infos</a>
      </li>
      <li>
        <a href="/dashboard/animals" class="tab-underlined ">My animals</a>
      </li>
      <li>
        <a href="/dashboard/bookings" class="tab-underlined active">Bookings</a>
      </li>
    </ul>
  </div>
</div>

<div class="container mt-3">

  <div class="row ">

    <div class="col-6 ">
      <div class="text-center">
        <p class="badge-pill badge-primary">Bookings you've received</p>
      </div>
      <% current_user.animals.each do |animal| %>
        <% animal.bookings.each do |booking|%>
            <div class="row">
              <div class="col-lg info-cards p-1 m-3">

                <h5> You have received a booking for <strong class="title-info"><%= animal.name.capitalize%></strong> made by <strong class="title-info"><%= booking.user.first_name  %></strong> </h5>
                <div class="container">

                  <div class="row">
                    <p class ="mt-1"><strong> Dates : </strong> <%= booking.start_date %> 👉 <%= booking.end_date %></p>
                  </div>

                  <div class="row">
                    <strong> Booking Status : </strong>
                    <% if booking.status.nil? %>
                      <p><span class="badge-pill badge-warning m-1">Pending</span></p>
                    <% elsif booking.status == "accepted" %>
                       <p><span class="badge-pill badge-success m-1">Accepted</span></p>
                    <% else %>
                       <p><span class="badge-pill badge-danger m-1">Rejected</span></p>
                    <% end %>
                  </div>

                </div>


                  <% if booking.status.nil? %>
                    <%= link_to booking_path(booking, status: "accepted"), method: :patch do %>
                      <button class="btn btn-flat accept" id="<%= booking.id %> "> Accept</button>
                    <% end %>
                    <%= link_to booking_path(booking, status: "rejected"), method: :patch do %>
                      <button class="btn btn-flat refuse" id="<%= booking.id %> ">Reject</button>
                    <% end %>

                  <% elsif booking.status == "accepted" %>
                    <%= link_to booking_path(booking, status: "rejected"), method: :patch do %>
                      <button class="btn btn-flat refuse" id="<%= booking.id %> ">Reject</button>
                    <% end %>

                  <% else %>
                    <%= link_to booking_path(booking, status: "accepted"), method: :patch do %>
                      <button class="btn btn-flat mb-2 accept" id="<%= booking.id %> ">Accept</button>
                    <% end %>

                  <% end %>

              </div>
            </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-6 border-left border-dark">
      <div class="text-center">
        <p class="badge-pill badge-info">Bookings you've made</p>
      </div>

      <% @animals.each do |animal| %>
        <% animal.bookings.each do |booking|%>
          <% if current_user.id == booking.user.id %>
            <div class="row">
              <div class="col-lg info-cards p-1 m-3">

                <h5> You have made a booking for <strong class="title-info"><%= booking.animal.name%>,</strong> a lovely <%= animal.animal_type %> owned by <strong class="title-info"><%= animal.user.first_name %></strong> </h5>
                <div class="container">

                  <div class="row">
                    <p><strong> Dates : </strong> <%= booking.start_date %> 👉 <%= booking.end_date %></p>
                  </div>

                  <div class="row">
                    <strong> Booking Status : </strong>
                    <% if booking.status.nil? %>
                      <p><span class="badge-pill badge-warning m-1">Pending</span></p>
                    <% elsif booking.status == "accepted" %>
                       <p><span class="badge-pill badge-success m-1">Accepted</span></p>
                    <% else %>
                       <p><span class="badge-pill badge-danger m-1">Rejected</span></p>
                    <% end %>
                  </div>

                </div>

                  <%= link_to booking_path(booking), remote: true, method: :delete do %>
                    <button class=" btn btn-flat mb-2" id="cancel">Cancel</button>
                  <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>

</div>
