<div class="container">
  <div class="row justify-content-center">
      <h2 class ="mt-4">All the info you need in one place 🦌</h2>
  </div>

  <div class="row justify-content-center">
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="/dashboard" class="tab-underlined">Your infos</a>
      </li>
      <li>
        <a href="/dashboard/animals" class="tab-underlined ">My animals</a>
      </li>
      <li>
        <a href="/dashboard/bookings" class="tab-underlined active">Bookings</a>
      </li>
    </ul>
  </div>
</div>

<div class="container mt-3">

  <div class="row ">

    <div class="col-6 ">
      <div class="text-center">
        <h4> Booking you've received </h4> <p class="badge-pill badge-primary">Received</p>
      </div>
      <% current_user.animals.each do |animal| %>
        <% animal.bookings.each do |booking|%>
            <div class="row">
              <div class="col-lg info-cards p-1 m-3">
                <P> You have received a booking for <strong class="title-info"><%= animal.name.capitalize%></strong> made by <strong class="title-info"><%= booking.user.first_name  %></strong> </p>      
                
                <% if booking.status.nil? %>
                  <p><span class="badge-pill badge-warning">Pending</span></p>
                <% elsif booking.status == "accepted" %>
                   <p><span class="badge-pill badge-success">Accepted</span></p>
                <% else %>
                   <p><span class="badge-pill badge-danger">Rejected</span></p>
                <% end %>

                <% if booking.end_date < DateTime.now %>
                  <p><span class="badge-pill badge-danger">Done</span></p>
                <% else %>
                  <p><span class="badge-pill badge-success">To come</span></p>
                <% end %>
                <p><strong> Dates : </strong> <%= booking.start_date %> 👉 <%= booking.end_date %></p>

                <% if booking.status.nil? %>

                  <%= link_to booking_path(booking, status: "accepted"), method: :patch do %>
                    <button class="btn-flat">Accept</button>
                  <% end %>
                  <%= link_to booking_path(booking, status: "rejected"), method: :patch do %>
                    <button class="btn-flat">Reject</button>
                  <% end %>

                 <% elsif booking.status == "accepted" %>
                  <%= link_to booking_path(booking, status: "rejected"), method: :patch do %>
                    <button class="btn-flat">Reject</button>
                  <% end %>
                  
                <% else %>
                  <%= link_to booking_path(booking, status: "accepted"), method: :patch do %>
                    <button class="btn-flat">Accept</button>
                  <% end %>

                <% end %>
                
              </div>
            </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-6 border-left border-dark">
      <div class="text-center">
        <h4> Booking you've made </h4> <p class="badge-pill badge-info">Made</p>
      </div> 
      <% @animals.each do |animal| %>
        <% animal.bookings.each do |booking|%>
          <% if current_user.id != booking.user.id %>
            <div class="row">
              <div class="col-lg info-cards p-1 m-3">
                <p> You have made a booking for <strong class="title-info"><%= booking.animal.name%>,</strong> a lovely <%= animal.animal_type %> owned by <strong class="title-info"><%= animal.user.first_name %></strong> </p>      
                
                <% if booking.status.nil? %>
                  <p><span class="badge-pill badge-warning">Pending</span></p>
                <% elsif booking.status == "accepted" %>
                   <p><span class="badge-pill badge-success">Accepted</span></p>
                <% else %>
                   <p><span class="badge-pill badge-danger">Rejected</span></p>
                <% end %>

                <% if booking.end_date < DateTime.now %>
                  <p><span class="badge-pill badge-danger">Done</span></p>
                <% else %>
                  <p><span class="badge-pill badge-success">To come</span></p>
                <% end %>
                <p><strong> Dates : </strong> <%= booking.start_date %> 👉 <%= booking.end_date %></p>
                  <%= link_to booking_path(booking), method: :delete do %>
                    <button class="btn-flat">Cancel</button>
                  <% end %>              
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
  
</div>