<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>All the info you need in one place 🦌</h1>

      <ul class="list-inline tabs-underlined">
        <li>
          <a href="dashboard" class="tab-underlined active">Your infos</a>
        </li>
        <li>
          <a href="dashboard/animals" class="tab-underlined">Your animals plan</a>
        </li>
        <li>
          <a href="dashboard/bookings" class="tab-underlined">Bookings</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row">

    <div class="col-lg info-cards">
      <h3 class='m-4 title-info'>Your first name</h3>
      <h3 class="m-4"><%= current_user.first_name%></h3>
    </div>

    <div class="col-lg info-cards">
      <h3 class='m-4 title-info'>Your last name</h3>
      <h3 class="m-4"><%= current_user.last_name%></h3>
    </div>

    <div class="col-lg info-cards">
      <h3 class='m-4 title-info'>Your Location</h3>
      <h3 class="m-4"><%= current_user.city%></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg info-cards">
      <h3 class='m-4 title-info'>Your bio</h3>
      <h3 class="m-4"><%= current_user.about%></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg info-cards">
      <h3 class='m-4 title-info'>What you're looking for on Pawesome</h3>
      <h3 class="m-4"><%= current_user.user_type%></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg info-cards">
      <h3 class='m-4 title-info'>Your email address</h3>
      <h3 class="m-4"><%= current_user.email%></h3>
    </div>

    <div class="col-lg info-cards">
      <h3 class='m-4 title-info'>Number of offers</h3>
      <h3 class="m-4"><%= current_user.animals.count%></h3>
    </div>
  </div>   

  <div class="row">
    <div class="col-lg info-cards">
      <%= link_to "Edit my Profile", edit_user_registration_path, class: "btn btn-primary btn-lg" %> 
    </div>
  </div>
</div>


