<div class="container">
  <div class="row justify-content-center">
      <h2 class ="mt-4">All the info you need in one place 🦌</h2>
  </div>

  <div class="row justify-content-center">
    <ul class="list-inline tabs-underlined">
      <li>
        <a href="/dashboard" class="tab-underlined active">Your infos</a>
      </li>
      <li>
        <a href="/dashboard/animals" class="tab-underlined ">My animals</a>
      </li>
      <li>
        <a href="/dashboard/bookings" class="tab-underlined">Bookings</a>
      </li>
    </ul>
  </div>
</div>


<div class="container mt-2 mb-2">
  <div class="row">

    <div class="col-lg info-cards">
      <p class='m-1 title-info'>Your first name</p>
      <p class="m-1"><%= current_user.first_name%></p>
    </div>

    <div class="col-lg info-cards">
      <p class='m-1 title-info'>Your last name</p>
      <p class="m-1"><%= current_user.last_name%></p>
    </div>

    <div class="col-lg info-cards">
      <p class='m-1 title-info'>Your Location</p>
      <p class="m-1"><%= current_user.city%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg info-cards">
      <p class='m-1 title-info'>Your bio</p>
      <p class="m-1"><%= current_user.about%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg info-cards">
      <p class='m-1 title-info'>What you're looking for on Pawesome</p>
      <p class="m-1"><%= current_user.user_type%></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg info-cards">
      <p class='m-1 title-info'>Your email address</p>
      <p class="m-1"><%= current_user.email%></p>
    </div>

    <div class="col-lg info-cards">
      <p class='m-1 title-info'>Number of offers</p>
      <p class="m-1"><%= current_user.animals.count%></p>
    </div>
  </div>

    <div class="row justify-content-center m-3">
      <%= link_to "Edit my Profile", edit_user_registration_path, class: "btn btn-flat" %>
    </div>
</div>


